* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: 5px solid red;
}

.button {
  color: #fff;
  background-color: #000;
  border: 5px solid white;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 900;
  padding: 20px 30px;
}

.buttonB {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: none;
  font-size: 20px;
  font-weight: 900;
  padding: 20px 30px;
}