* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.text {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 900;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.block-container, .buttonn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error, .success {
  color: #fff;
  background-color: #000;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
  padding: 20px 30px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: 5px solid red;
}
.list:hover {
  color: black;
}

.text {
  color: red;
  background-color: black;
}

.button {
  color: #fff;
  background-color: #000;
  border: 5px solid white;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 900;
  padding: 20px 30px;
}

.buttonB {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: none;
  font-size: 20px;
  font-weight: 900;
  padding: 20px 30px;
}

.buttonn {
  background-color: grey;
  gap: 30px;
}

.success {
  color: white;
  background-color: green;
}

.error {
  color: white;
  background-color: red;
}

.block, .yellow-block, .green-block {
  width: 300px;
  height: 300px;
  background-color: red;
}
@media screen and (min-width: 320px) {
  .block, .yellow-block, .green-block {
    width: 150px;
    height: 150px;
  }
}

.green-block {
  background-color: green;
}
@media screen and (min-width: 1200px) {
  .green-block {
    background-color: red;
  }
}
@media screen and (max-width: 1200px) {
  .green-block {
    width: 100px;
  }
}

.yellow-block {
  background-color: yellow;
}