* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.content {
  padding: 94px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* galery */

.button-list {
  display: flex;

  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}

.button-list-item:not(:last-child) {
  margin-right: 10px;
}

.button-list-item button {
  min-width: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.gallery {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 30px;
}

@media screen and (max-width: 1199px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(1, fit-content(450px));
    grid-template-rows: repeat(9, fit-content(450px));
    justify-content: center;
  }
}

.galery-item {
  display: grid;
  max-width: 450px;
  height: 404px;

  background: #ffffff;

  border: 1px solid #eeeeee;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.galery-item img {
  max-width: 450px;
}
