* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.content {
  padding: 30px 3%;
}

.grid-body {
  display: grid;

  /* grid-template-columns: 33.333% 33.333% 33.333%; */

  /* grid-template-columns: 1fr 1fr 1fr */
  /* grid-template-columns: 1fr minmax(200px, 2fr) 1fr; */
  /* grid-template-columns: auto 1fr auto; */
  /* grid-template-columns: fit-content(400px) 1fr auto; */
  grid-template-columns: repeat(3, 1fr);

  /* grid-template-rows: 50% 50%; */
  grid-template-rows: repeat(2, 1fr);
}

.grid-item {
  text-align: center;
  border: 2px double red;
  padding: 30px;
}

.grid-header,
.grid-side,
.grid-content {
  padding: 30px;
  border: 2px double red;
  margin-bottom: 30px;
}

.div-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;

  gap: 30px;

  grid-template-areas:
    "header header"
    "side content";
}

.grid-header {
  grid-area: header;
}
.grid-side {
  grid-area: side;
}
.grid-content {
  grid-area: content;
}
