.hero {
  background-image: url(./assets/imgs/hero.jpg);
  background-position: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  padding-bottom: 162px;
}

.heading2 {
  color: #f6f6f6;
  text-align: center;
  /* H3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}

.heading1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;

  width: 799px;
}

.p {
  color: #f6f6f6;
  text-align: center;
  /* H4 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: 236px;
  padding: 16px 0px;
  color: #fff;
  /* H3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}

.btn:first-child {
  margin-right: 70px;
}
