.buttonn {
  @extend %flex;
  background-color: grey;
  gap: 30px;
}

.success {
  @extend %buttons;
  color: white;
  background-color: green;
}

.error {
  @extend %buttons;
  color: white;
  background-color: red;
}
