.hero {
  padding-top: 175px;
  padding-bottom: 300px;

  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background: url(../../img/hero.jpg) cover/center no-repeat;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../img/hero-2x.jpg);
  }
}

.heroo {
  height: 1000px;

  background-image: url(../../img/hero-desk-1x.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2x),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url(../../img/Hero-desk-2x.webp);
  }

  @media (max-width: 1199px) {
    background-image: url(../../img/tablet-1x.webp);

    @media (min-device-pixel-ratio: 2x),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../../img/tablet-2x.webp);
    }
  }
  @media (max-width: 767px) {
    background-image: url(../../img/phone-1x.webp);

    @media (min-device-pixel-ratio: 2x),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../../img/phone-2x.webp);
    }
  }
}
